  .body {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: indigo;
    color: white;

    padding-bottom: 100px;

    font-family: 'Poppins', sans-serif !important;  
  }