.SearchContainer {
    position: fixed;
    top: 0px; 
    left: 0px;
    height: 60px;
    width: 100vw;
    
    font-family: 'Poppins', sans-serif !important;
  
  
    background-color: #202036;

  }