  .mainDiv {
    position: fixed;
    display: grid;
    top: 70px;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(76, 0, 130, 0.151);
    color: white;
    height: 200;

    padding-bottom: 100px;

    font-family: 'Poppins', sans-serif !important;
  }